/* 컨테이너 스타일 (화면 중앙에 정렬) */
.container {
  display: flex;
  flex-direction: column; /* 요소들이 세로로 나열되게 */
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
  width: 100%;
  max-width: 390px; /* 너비 390px로 제한 */
  height: 100vh; /* 화면 전체 높이 */
  font-size: 1.2rem;
  background-color: #f0efef;
}

.inputs {
  display: flex;
  flex-direction: column; /* 요소들이 세로로 나열되게 */
  justify-content: center; /* 세로 중앙 정렬 */
  align-items: center; /* 가로 중앙 정렬 */
}

input {
  width: 70%;
  border-radius: 20px;
  height: 50px;
  font-size: 1.4rem;
  background-color: #eae1e1;
  border-color: #eae1e1;
  font-weight: bold;
  text-align: center;
}

button {
  margin-top: 20px;
  width: 60%;
  border-radius: 20px;
  height: 50px;
  font-size: 1.4rem;
  background-color: #f9e687;
  border-color: #f9e687;
  font-weight: bold;
}
.link-button {
  all: unset;

  cursor: pointer;
  font-size: inherit;
}
form {
  width: 100%;
  margin-bottom: 20px;
}

.plus {
  text-align: center;
}

.plus a {
  all: unset;

  cursor: pointer;
  font-size: inherit;
}

img {
  margin-bottom: 20px;
}
