.mypage-container {
  text-align: center;
  background-color: #fdf3d0;
  padding: 20px;
  width: 300px;
  margin: auto;
  border-radius: 10px;
}

.mypage-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.mypage-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  background-color: #f5e6da;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.mypage-btn:hover {
  background-color: #e0d0c0;
}

.mypage-btn.delete {
  background-color: #ffcc66;
}

.mypage-btn.delete:hover {
  background-color: #ffb84d;
}

.userName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
